html {
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
}

.words {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hug-16 {
    height: 16px;
}

.button-primary {
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #999;
    cursor: pointer;
    display: block;
    font-size: 24px;
    margin: 0 auto;
    max-width: 200px;
    padding: 8px 16px;
    transition: background-color 0.2s linear;

    @media (prefers-color-scheme: dark) {
        background-color: #333;
        border: 1px solid #3f3f3f;
        color: #999;
    }

    &:hover {
        background-color: #eee;

        @media (prefers-color-scheme: dark) {
            background-color: #444;
        }
    }
}
