@font-face {
  font-family: "Nekst";
  src: local("Nekst"), local("Nekst-Black"),
    url("./assets/fonts/Nekst-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("./assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: Tahoma, Arial, Nekst;
}

.container {
  max-width: 414px;
  margin: 0 auto;
}

.words {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hug-16 {
  height: 16px;
}
