.keyboard {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.key {
    align-items: center;
    background: #eee;
    border-radius: 4px;
    border: 0;
    color: #222;
    cursor: pointer;
    display: flex;
    flex: 1;
    font-size: 16px;
    justify-content: center;
    padding: 7px;

    &:hover {
        background: #e0e0e0;
    }
}

.key-ok {
    background-color: #2fad00;
    color: #eee;
}

.key-error {
    opacity: 0.3;
}

.key-near {
    background-color: #ffb100;
    color: #fff;
}
