.letter {
    align-items: center;
    border-radius: 4px;
    border: 1px solid #999;
    color: #666;
    display: flex;
    font-size: 24px;
    height: 32px;
    justify-content: center;
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    width: 32px;

    @media (min-width: 300px) {
        font-size: 32px;
        height: 48px;
        width: 48px;
    }

    @media (prefers-color-scheme: dark) {
        background-color: #333;
        border: 1px solid #3f3f3f;
        color: #999;
    }
}

.current {
    border: 2px solid #ffb100;
}

.ok {
    background-color: #2fad00;
    color: #fff;
}

.near {
    background-color: #ffb100;
    color: #fff;
}
